---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroXochi from '../components/HeroXochi.astro';
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import { HelloComponent } from '../components/hello.component';

const helpText = "Helping binding index"; // Definir la propiedad
---

<Layout>
	<Header />
	<main class="flex flex-col items-center mt-3 pt-3 pb-3">
		<HeroXochi />
		<Gallery />
	</main>
	<!-- <HelloComponent /> 
	 <!-- Usa el componente Angular dentro de Astro -->
	 <!-- <HelloComponent client:visible helpText={helpText}/> -->
	<!-- <HelloComponent helpText={helpText} /> -->
	<Footer />
</Layout>
