---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import HeroXochi from '../components/HeroXochi.astro';
import Gallery from '../components/Gallery.astro';
---

<Layout>
	<Header />
	<main class="flex flex-col items-center mt-3 pt-3 pb-3">
		<HeroXochi />
		<Gallery />
	</main>
</Layout>
